node_modules
.cache-loader
.DS_Store
/tsc
/tmp
yarn-error.log
/test_reports
/temp
/types
/packages/*/types
/packages/*/lib
/packages/*/dist
/packages/*/tsc
/packages/*/junit.xml
/packages/*/tmp
/packages/*/coverage
/packages/*/cypress/screenshots
/packages/*/cypress/videos
/packages/*/cypress/fixtures/appear-tests.json
/packages/*/cypress/fixtures/projection-tests.json
.cache-loader

.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
.turbo
stats.html

lerna-debug.log