node_modules
/.cache-loader
.DS_Store
/tsc
/tmp
yarn-error.log
/test_reports
/temp
/dev/.cache-loader
/types
/packages/*/types
/packages/*/lib
/packages/*/dist
/packages/*/tsc
/packages/*/tmp
/packages/*/coverage
/cypress/screenshots
/cypress/videos
/cypress/fixtures/projection-tests.json

.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
.turbo

lerna-debug.log